# Git stuff
/.gitattributes                         export-ignore
/.gitignore                             export-ignore
/.gitmodules                            export-ignore
.github/                                export-ignore
/README.md                              export-ignore
/CONTRIBUTING.md                        export-ignore
/LICENSE                                export-ignore

# Tests
test/                                   export-ignore

# Must be ignored as we don't want to distribute an exe through the AssetLib
addons/mod_loader/vendor/               export-ignore
