# Git stuff
/.gitattributes                         export-ignore
/.gitignore                             export-ignore
/.gitmodules                            export-ignore
.github/                                export-ignore
/README.md                              export-ignore
/CONTRIBUTING.md                        export-ignore
/LICENSE                                export-ignore

# Tests
test/                                   export-ignore

# Files not required by AssetLib downloads (provided via download for manual installers)
addons/mod_loader/vendor/               export-ignore
addons/mod_loader/mod_loader_setup.gd   export-ignore

# Used during docs generation, but not relevant for addon users 
project.godot							export-ignore
main.tscn								export-ignore
icon.png								export-ignore