on:
  pull_request:
    branches-ignore:    
       - 'main'
jobs:
  check_dependencies:
    runs-on: ubuntu-latest
    name: PR Dependency Check
    steps:
    - uses: gregsdennis/dependencies-action@main
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
